body {
    background-color: #E5D8D8;
}

.search-section {
    background-color: #E5D8D8;
    padding: 30px;
}
.update-text {
    font-size: 20px;
}
.demo {
    font-size: 20px;
}
.main-list {
    list-style: none;
}

.name-section {

}

.section-name {
    text-align: center;
    font-size: 52.3px;
    letter-spacing: 14px;
    font-family: 'Darumadrop One', cursive;
}