body {
    background-color: #282323;
}

.header {

}


.update-text {
    font-size: 20px;
}
.demo {
    font-size: 20px;
}

.main {
    background-color: #282323;
}
.main-list {
    list-style: none;
}

.name-section {
color: white;
}

.section-name {
    text-align: center;
    font-size: 52.3px;
    letter-spacing: 14px;
    font-family: 'Darumadrop One', cursive;
}

.main-box {
    width: 300px;
    border: 1px solid #EEE;
    background: #FFF;
}